version: "3.8"

services:
    db:
        ports:
            - "5433:5432"
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U user -d booking_db"]
            interval: 5s
            timeout: 5s
            retries: 5

    backend:
        ports:
            - "4000:4000"
        volumes:
            - ./backend:/app
            - /app/node_modules
            - /app/prisma
        command: npx nodemon --exec "npx ts-node" src/index.ts

    frontend:
        ports:
            - "5173:5173"
        volumes:
            - ./frontend:/app
            - /app/node_modules
        environment:
            - VITE_API_URL=http://localhost:4000
