version: "3.8"

services:
    db:
        image: postgres:15-alpine
        container_name: booking_db
        restart: always
        environment:
            POSTGRES_USER: user
            POSTGRES_PASSWORD: password
            POSTGRES_DB: booking_db
        volumes:
            - postgres_data:/var/lib/postgresql/data

    backend:
        build: ./backend
        container_name: booking_backend
        restart: always
        environment:
            DATABASE_URL: "postgresql://user:password@db:5432/booking_db?schema=public"
        depends_on:
            db:
                condition: service_healthy

    frontend:
        build: ./frontend
        container_name: booking_frontend
        restart: always
        depends_on:
            - backend

volumes:
    postgres_data:
