@import "tailwindcss";

@layer base {
	body {
		@apply bg-orange-50/50 text-slate-800 antialiased;
		font-family: "Inter", system-ui, sans-serif;
	}
}

.animate-fade-in {
	animation: fadeIn 0.6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(15px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
